*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    color-scheme: dark light;
}

body {
    min-height: 100vh;
}

// Getting images and videos responsive

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

input,
textarea,
button,
select {
    font: inherit;
}