$white: #fff;
$light-gray: #9b9b9b;
$medium-gray: rgba(216, 216, 216, 0.21);
$dark-gray: rgba(151, 151, 151, 0.21);
$dark-black: #2f2f2f;
$yellow: #fdcb1e;
$orange: #f70;
$green: #50e3c2;
$blue: #3343e5;